* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.loading {
    font-size: 36px;
    text-align: center;
}

.explorepage {
    width: 100%;
    text-align: center;
}

.explorepage-header h2 {
    font-size: 36px;
    font-weight: 500;
    position: relative;
    margin: 30px 0;
}

.explorepage h2:before {
    content: '';
    width: 100px;
    height: 3px;
    background-color: #764abc;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.photo-gallery {
    width: 90%;
    

}