* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.loading {
    font-size: 36px;
    text-align: center;
}

.explorepage {
    width: 100%;
    text-align: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.explorepage-header h2 {
    font-size: 36px;
    font-weight: 500;
    position: relative;
    margin: 30px 0;
}

.explorepage h2:before {
    content: '';
    width: 120px;
    height: 3px;
    background-color: #764abc;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

/* photo display here */

/* .photo-gallery {
    width: 90%;
    display: flex;
    transition: .3s;
    flex-wrap: wrap;
}

.photo-display{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.photo-display img {
    max-width: 100%;
    height: auto;
} */

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(400px));
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100vw;
    column-gap: 25px;
    row-gap: 20px;
    padding: 20px 80px;
}

.photo-display {
    position: relative;
    cursor: pointer;
}

.photo-display img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.photo-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(0deg, rgba(0, 0, 0, .6) 0%, rgba(255, 255, 255, 0) 100%);
}

.photo-display:hover .photo-overlay {
    opacity: 1;
}

.photo-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 20px;
    left: 16px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}


.photo-title {
    font-size: 16px;
    font-weight: bold;
}

.photo-username {
    margin-top: 5px;
    font-size: 12px;
}